/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
    font-family: 'Quicksand', sans-serif;
}

body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.dark#body{
  background-color: black;
  color: #fff;
}

.dark .mode-container .gg-sun{
  display: block;
  color: white;
}

.dark .mode-container .gg-moon{
  display: none;
}

/* Banner */
.banner{
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),url(./img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.header{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.logo h1 a.logo-brand{
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.menu-right-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.menu-right-content .search-bar{
  display: flex;
}

.menu-right-content .search-bar .search .search__input{
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  /* border: none; */
  font-weight: 500;
  position: relative;
  right: 0;
  outline: 0;
  color: rgba(22, 28, 45, 0.7);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
}

.dark .menu-right-content .search-bar .search .search__input{
  color: rgba(237, 238, 243, 0.7);
  background-color: black;
  border: 1px solid black;
}

.menu-right-content .search-bar .search .search__icon{
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.theme-switch input{
  display: none;
}

button#trigger-overlay{
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

.banner .banner-info{
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.banner .banner-info h3{
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.banner .banner-info p{
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.btn-style,
.btn-white{
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-white:hover{
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
  text-decoration: none;
}

/* Banner with header Overlay */
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}

.overlay .overlay-close{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 6px;
}

.overlay nav{
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul{
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li{
  display: block;
  backface-visibility: hidden;
  line-height: 3em;
}

.overlay ul li a{
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: color 0.2s;
  text-decoration: none;
}

.overlay ul li a:focus,
.overlay ul li a:hover{
  color: #ff6600;
  text-decoration: none;
}

.overlay-scale{
  visibility: hidden;
	opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open{
  visibility: visible;
	opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}


/* Banner with header Overlay */

/* toggle switch */
/* dark and light mode */
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
  margin-top: 8px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.mode-container i.gg-moon {
  display: block;
  color: #eee;
}

input:checked+.mode-container i.gg-sun {
  display: block;
}

input:checked+.mode-container i.gg-moon {
  display: none;
}

/* toggle switch */
/* dark and light mode */

/* About Us*/

.aboutUs__content .row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.title-subhny{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: 'Pacifico', cursive;
}

.title-info{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.aboutUs__content__right p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.dark .aboutUs__content__right p{
  color: white;
} 

.aboutUs__agent{
  background-color: #ff6600;
}

.agent-block-image{
  background:url(./img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.agent-block-image::before{
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.title-subhny.two{
  color: #fff;
}

.title-info.two{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.agent-block-image-inf p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #ffdfc9;
}

.subscribe-cat{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

.subscribe-cat .icon{
  background: #fff;
}

.icon{
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.icon span.fa{
  font-size: 25px;
  line-height: 70px;
  color: #ff6600;
}

.subscribe-cat .subscribe-cat-link{
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
}

.dark .subscribe-cat .subscribe-cat-link{
  color: white;
}

.subscribe-cat-gd:hover .icon span.fa{
  color: #ffc600;
  transition: 0.3s ease-in-out;
}

/* Categories */
.categories{
  background: #f7f7f7;
}

.dark .categories{
  background-color: #282828;
}

.categories .gal-slide-grid{
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 32px;
}

.categories .gal-slide-img{
  position: relative;
}

.categories .gal-slide-img::after{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.categories .gal-slide-img img{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
}

.categories .gal-slide-info{
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.categories .gal-slide-info h4{
  font-size: 18px;
  color: #fff;
}

.categories .gal-slide-grid .gal-slide-img::after{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
}

.categories.gal-slide-grid .gal-slide-info{
  transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -10%, 0);
}

.categories img:hover{
  opacity: 0.85;
  transition: all 0.4s;
}

.categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}

.categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.categories .content-left-sec a:hover {
  text-decoration: none;
}

.categories .content-left-sec a:hover {
  color: #4f9da6;
}

.categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.categories .gal-slide-info span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
}

/* home-service */
.home-service{
  position: relative;
}

.box-wrap{
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}

.box-wrap-grid{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.box-wrap h4 a{
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
  text-decoration: none;
}

.box-wrap p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.box-wrap h4 a:hover {
  color: #ff6600;
}

.box-wrap:hover .icon {
  background-color: #ff6600;
  transition: 0.3s ease-in-out;
}
.box-wrap:hover .icon span.fa{
  color: #fff;
  transition: 0.3s ease-in-out;
}

/* Middle */
.middle{
  background: url(./img/banner2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.middle::before{
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.welcome-left{
  max-width: 700px;
  margin: 0 auto;
}

.welcome-left h3{
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.btn-primary{
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

.btn-primary:hover{
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

/* Stats */
div.stats{
  margin-top: -70px;
  z-index: 10;
  position: relative;
}

.counter{
  background-color: #fff;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: .3s ease;
}

.counter:hover{
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: .3s ease;
}

.counter span.fa{
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.timer{
  font-size: 2.6em;
  font-weight: 600;
  color: #232121;
}

.stats-content p{
  font-size: 17px;
}

p.count-text{
  text-transform: capitalize;
  color: rgba(22, 28, 45, 0.7);
  font-weight: 600;
}

/* Video */
.new-block {
  background: var(--bg-color);
}

.w3l-videohny .history-info {
  background: url(./img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}

.w3l-videohny .history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}

.w3l-videohny span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}

.w3l-videohny .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.w3l-videohny span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  border: transparent;
  background: #fff;
}

/* Styles for dialog window */
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
   * Fade-move animation for second dialog
   */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-- play icon animation --*/

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* Blogspot */
.blogspots{
  background: #f7f7f7;
}

.blogspots .card{
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.blogspots .post-pos{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogspots a.receipe{
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
}

.blogspots .meta-info{
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: .02em;
}

.radius-image{
  border-radius: 6px;
}

.blogspots a.blog-desc{
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: .3s ease;
  text-decoration: none;
}

.card-body p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.blogspots .p-footer{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogspots .p-meta-info{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogspots .p-meta-info a{
  font-weight: 700;
  color: #232121;
  letter-spacing: .02em;
  text-decoration: none;
}

.blogspots .p-meta-info img{
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.blogspots a.read{
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .02em;
  color: #232121;
  opacity: .9;
}

.blogspots a.read:hover{
  text-decoration: none;
  color: #ff6600;
}

/* Testimonials */
.testimonials .testimonial-content{
  max-width: 700px;
  margin: auto;
}

.testimonials a.comment-img{
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.testimonial .testimonial .img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.testimonial blockquote q{
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
}

.testimonials blockquote q::before{
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}

.testimonial p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.testimonials .testimonial .people-info h3{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonials p.indentity{
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6600;
}


.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

/* Footer */
.footer-29-main{
  background: #000;
}

.footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}

.footer-29-main .subscribe input[type="email"]:focus {
  border: 1px solid #ff6600;
  background-color: #fff;
}

.footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-29-main .main-social-footer-29 a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.footer-29-main .main-social-footer-29 a  span.fa{
  line-height: 36px;
}
.footer-29-main .main-social-footer-29 a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}

.footer-list-29 ul li span.fa {
  width: 25px;
}

.footer-29-main .footer-list-29 ul li,
.footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.footer-29-main .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}

.footer-29-main .footer-list-29 ul li a,
.footer-29-main .footer-list-29 ul li p,
.footer-list-29 ul li a,
.footer-29-main a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-29-main .footer-list-29 ul li a:hover,
.footer-list-29 ul li a:hover,
.footer-29-main a:hover {
  color: #ff6600;
  text-decoration: none;
}

/* Copyrights */
.copyrights{
  padding: 1.2em 0px;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.copyrights p.copy-footer-29{
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.copyrights .copy-footer-29 a{
  color: #ff6600;
}

.copyrights .copy-footer-29 a:hover{
  color: #fff;
  text-decoration: none;
}

.copyrights ul li a{
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
/* Responsive Banner with Header and About Us*/

@media (max-width:1190px) {
  .banner .banner-info h3 {
      font-size:48px;
      line-height:58px;
  }
}

@media (max-width: 1080px) {
  .title-info,.title-info.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width:992px) {
  .banner .banner-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width:800px) {
  .banner .banner-info h3 {
      font-size: 40px;
      line-height: 50px;
  }
  .banner {
      min-height: 600px;
      margin-top:60px;
  }
}

@media (max-width:767px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 40px;
	}
}
@media (max-width:600px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 36px;
	}

  .menu-right-content .search-bar{
    display: none;
  }

  .title-info,.title-info.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  .aboutUs__content__right p,
  .agent-block-image-inf p {
    font-size: 16px;
    line-height:26px;
  }
  
  .title-subhny {
    font-size: 16px;
  }
}
@media (max-width:480px) {
  .banner .banner-info h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .banner .banner-info {
      max-width: 500px;
      margin-top: 30px;
  }
  .banner {
      min-height:450px;
  }
  .overlay nav {
		height: 70%;
		font-size: 34px;
	}

	.overlay ul li {
		min-height: 34px;
	}

  .title-info,.title-info.two {
    font-size: 26px !important;
    line-height: 36px;
  }

  .btn-white
  {
    padding: 10px 21px;
  }
}

@media (max-width: 375px) {

  .btn-white{
    font-size: 16px;
  }

  .title-info,.title-info.two {
    font-size: 24px !important;
    line-height: 34px;
  }

  .title-subhny {
    font-size: 16px !important;
    letter-spacing: .5px;
  }

}

@media all and (max-width:992px) {
  .subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px 10px;
  }

  .subscribe-cat .subscribe-cat-link {
    font-size: 18px;
  }
  .agent-block-image {

      min-height: 200px;
  }
}
/* Responsive Banner with Header and About Us*/
